body {
  margin: 0;
  padding: 0;
}

.circle-img {
  position: absolute;
  z-index: 5;
  right: 0px;
  top: -132px;
  overflow: hidden;

}

.circle-img img {
  width: 74%;
  position: relative;
  right: -394px;
  top: -40px;
}

.small-circle {

  position: absolute;
  z-index: 5;
  left: -110px;
  top: 149px;

}

.small-circle img {
  width: 420px;
}

.navbar-content {
  min-height: 100vh;
  background: #FCFCFF;
}